{% extends 'base.html' %}

{% block search %}
<form class="d-flex" role="search" method="post">
    <input name="camera_id" class="form-control me-2" type="search" placeholder="Search by ID" aria-label="Search"/>
    <input class="btn btn-outline-success" type="submit" value="Search">
</form>
{% endblock %}
{% block content %}
<h1>
    Main panel
</h1>
<div class="mb-3">
    {% for camera in cameras %}
    <div class="card m-1" style="width: 100%;">
        <img class="img-fluid" src="{{ url_for('monitor.video_feed', camera_id=camera['id']) }}" >
        <div class="card-body">
            <h5 class="card-title">id: {{ camera['id'] }}</h5>
            <a href="{{ url_for('monitor.monitor_camera', camera_id=camera['id']) }}" class="btn btn-success">Select</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="flex mb-3">
    {% if current_page_number > 1 %}
        <a class="btn btn-success" href="{{ url_for('monitor.monitor_page', page_number=current_page_number - 1) }}">Previous</a>
    {% endif %}
    {% if current_page_number < max_pages %}
        <a class="btn btn-success" href="{{ url_for('monitor.monitor_page', page_number=current_page_number + 1) }}">Next</a>
    {% endif %}
</div>
{% endblock %}

